/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  /* Estilizando a trilha da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
  }
  
  /* Estilizando o indicador de rolagem (thumb) */
  ::-webkit-scrollbar-thumb {
    background: #3d35ba; /* Cor do indicador de rolagem */
    border-radius: 6px; /* Arredondamento do indicador de rolagem */
  }
  
  /* Estilizando o indicador de rolagem (thumb) quando o mouse está sobre ele */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do indicador de rolagem quando o mouse está sobre ele */
  }
  

  .icon {
    width: 50px; /* Defina o tamanho desejado para os ícones */
    height: 50px; /* Defina o tamanho desejado para os ícones */
  }
  