@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 6px; 
}

.icon {
  width: 50px;
  height: 50px; 
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Posição ajustada para o canto inferior esquerdo */
  background-color: #25D366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.whatsapp-button svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


